@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}


.wrapper{
  width: 100%;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


h1{
  color: white;
  text-align: center;
  margin-bottom: 25px;
}

.contact-form{
  display: flex;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg{
  width: 48%;
}

input,
textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid white;
  padding: 10px;
  color: white;
  width: 100%;
}

.msg textarea{
  height: 212px;
}

.msg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
   
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    width: 50%;
    background-color: #885e70;
}
